button.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

input.form-control {
    margin-bottom: 10px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-right-10px {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

body {
    background: linear-gradient(90deg, rgba(16,140,158,0.6026785714285714) 41%, rgba(14,54,212,0.8127626050420168) 90%);
}